.postItem {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;

}

.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.postDetails {
  display: flex;
  flex-direction: column;
}