.postItem {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.postDetails {
  text-align: left;
}

.postClass {
  text-align: right;
}