.hero {
  background-color: #f4e7d3;
  justify-content: center;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}