/* General page styling, focusing on the forum page layout */
.pageTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Vertically centers the flex items within pageTitle */
  align-items: center;
  /* Horizontally centers the flex items within pageTitle */
  width: 100%;
  /* Ensures the container takes full width */
  background-color: #F7EEE5;
}

/* Container for content below the page title, ensuring everything is centered */
.contentContainer {
  display: flex;
  flex-direction: column;
  /* Aligns children (like search bar and post list) vertically */
  width: 100%;
  background-color: #F7EEE5;

}