.hero {
  display: flex;
  flex-direction: column;
  /* Establishes this element as a flex container */
  justify-content: center;
  /* Horizontally centers the flex items */
  align-items: center;
}

.searchContainer {
  position: relative;
  margin-top: 1rem;
  width: 500px;
  height: 80px;
}

.searchIcon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.searchInput {
  width: 100%; /* Use the full width of the parent container */
  height: 100%;
  padding-left: 70px; /* Adjust to ensure text doesn't overlap with the icon */
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  color: #767676;
  border: 1px solid #ccc; /* Add a border to make the input more distinct */
}

/* Hover state */
.searchInput:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); /* Same shadow as default state */
}

/* Focus state (when the user clicks into the input) */
.searchInput:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); /* Same shadow as default state */
  outline: none; /* Remove the default browser outline */
}