.hero {
  background-color: #F7EEE5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .instructions {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .instructions h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .instructions p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}