.hero {
  justify-content: center;
}

.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  flex-direction: row;
}

.full-width-container {
  width: 100%;
}

.post-list {
  margin: 2em
}