.hero {
  justify-content: center;
  background-color: #f4e7d3;
  
}

.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4e7d3;
}

.email {
  display: flex;
  flex-direction: row;
}

.full-width-container {
  width: 100%;
  background-color: #f4e7d3;
}

.post-list {
  margin: 5em;
  background-color: #f4e7d3;
}